:root {
  --background-color: #ffffff;
  --page-logo-color: #4d5ae5;
  --first-paragraf-color: #434455;
  --section-one-color: #2e2f42;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--background-color);
}

.menu {
  list-style: none;
}
.list {
  list-style: none;
}
.menu-link {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-link :hover .menu-link :focus {
  color: #404bbf;
}
.page-header {
  background: #ffffff;
}

.page-header-navigation {
  list-style: none;
}

.list {
  list-style: none;
}
.contacts: {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}
button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.page-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--page-logo-color);
}
.logos {
  color: #2e2f42;
}

.section-one {
  background-color: var(--section-one-color);
}
.title-one {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.button-one {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  height: 56px;
  cursor: pointer;
  background: #4d5ae5;
  color: #ffffff;
}
.button-one :hover {
  background-color: #404bbf;
}
.button-one :focus {
  background-color: #404bbf;
  cursor: pointer;
}

.footer {
  background-color: #2e2f42;
}
.text-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--first-paragraf-color);
}
